<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Zombi-Camina-1-D.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,0},{37,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,4},{37,60}}</string>
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>

			<key>Zombi-Camina-2-D.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{28,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,4},{28,60}}</string>
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>

			<key>Zombi-Camina-3-D.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{43,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,7},{43,57}}</string>
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,64}</string>
			<key>textureFileName</key>
			<string>zombieDcha.png</string>
			</dict>
		</dict>
</plist>